#
# Questions
#
questions:
  NAME: 'What´s your name?'
#
# Tasks
#
tasks:
  -
    type: command
    info: 'Run "pwd" command'
    cmd: pwd
  -
    type: replace_placeholder
    info: 'Replace {{NAME}} in ./examples/replace_name.txt'
    file: './examples/replace_name.txt'